@if (page === "home") {
  <app-home></app-home>
} @else if (page === "booking") {
  <app-booking></app-booking>
} @else if (page === "login") {
  <app-login></app-login>
} @else if (page === "profile") {
  <app-profile></app-profile>
} @else if (page === "signin") {
  <app-signin></app-signin>
} @else if (page === "trail-details") {
  <app-trail-details></app-trail-details>
} @else if (page === "trail-list") {
  <app-trail-list></app-trail-list>
}

<app-menu></app-menu>
<router-outlet></router-outlet>