/* Globális stílus */
html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Világos háttér */
    color: #333333;            /* Sötét szöveg */
  }
  
  .home-container {
    text-align: center;
    padding: 32px;
  }
  
  .home-container h1,
  .home-container p {
    color: #333; /* Világos háttéren sötét szöveg */
  }


  body {
    overflow-x: hidden;
  }
  
  